.tours {
    display: flex !important;
    justify-content:  center !important;
  &-row {
    width: 50% !important;
    

    .content-col{
        width: 40%;

        h1{
            font-size: 7vmin;
            color: var(--secondary-color);
        }

        p{
            padding: 0;
            margin: 30px auto;
        }

        .line{
            margin-left: -1px;
        }

    }

    .image-col{
        width: 60% !important;
    }

    &-col {
      width: 50%;

      .image-gallery{
        display: flex;
        flex-wrap: wrap;

        img{
            width: 250px;
            margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
.tours-row{

}
  .tours-row-col{

    width: 100% !important;

    .image-gallery{
      justify-content: center;
      align-items: center;
    
    }
  }


}
